<!DOCTYPE html>

<!-- Styling from http://bettermotherfuckingwebsite.com :) -->
<html>
    <style type="text/css">
      body{
          margin:40px auto;
          max-width:650px;
          line-height:1.6;
          font-size:18px;
          color:#444;
          padding:0 10px
      }
      h1,h2,h3{
          line-height:1.2
      }</style>
    <head>
        <meta charset="utf-8">
        <title>Choose your own adventure: {{.Title}}</title>
    </head>
    <body>
        <h1>{{.Title}}</h1>
        {{range .Paragraphs}}
        <p>{{.}}</p>
        {{end}}
        {{if .Options}}
            <b>Choose your next adventure</b>
            {{range .Options}}
            <p><a href="{{.Arc}}">{{.Text}}</a>
            {{end}}
        {{else}}
            <b>The end!</b>
        {{end}}
    </body>
</html>
